<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HolidaySoap" maxReceivedMessageSize="1000000"/>
                <binding name="HolidaySoapSecure">
                    <security mode="Transport" />
                </binding>
                <binding name="HolidaySoapSecure1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.sapo.pt/Holiday" binding="basicHttpBinding"
                bindingConfiguration="HolidaySoap" contract="ServiceGetAllHolidays.HolidaySoap"
                name="HolidaySoap" />
            <endpoint address="https://services.sapo.pt/Holiday" binding="basicHttpBinding"
                bindingConfiguration="HolidaySoapSecure" contract="ServiceGetAllHolidays.HolidaySoapSecure"
                name="HolidaySoapSecure" />
        </client>
    </system.serviceModel>
</configuration>